numpy==2.2.6
pandas==3.0.0
matplotlib==3.9.2
seaborn==0.13.2
scikit-learn==1.5.1
scipy==1.13.1
goatools==1.5.2
wget==3.2
anytree==2.13.0
statsmodels==0.14.2
requests==2.32.3
gseapy          
venn            
pydeseq2==0.5.4
tqdm==4.66.5
